.wrapper {
    position: relative;
    width: 1280px;
    height: 1812px;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    position: sticky;
    top: 0px;
    width: 1280px;
    height: 120px;
}

.header {
    position: absolute;
    width: 1200px;
    height: 60px;
    left: 40px;
    top: 31px;
    background-color: #FFFFFF;
}

.header-logo {
    position: absolute;
    width: 184px;
    height: 60px;
    left: 0px;
    top: 0px;
}

.header-logo-title {
    position: absolute;
    width: 190px;
    height: 35px;
    left: 0px;
    top: 0px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 0px;
}

.header-logo-subtitle {
    position: absolute;
    width: 180px;
    height: 15px;
    left: 4px;
    top: 44px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
}

.nav-menu {
    position: absolute;
    width: 442px;
    height: 27px;
    left: 757px;
    top: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-between;
}

#active-link {
    border-bottom: solid 3px #F1CDB3;
    color: #292929;
}

.nav-menu-item {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.nav-menu-item:hover {
    cursor: pointer;
}

.pets {
    position: absolute;
    height: 1342px;
    width: 1280px;
    left: 0%;
    right: 0%;
    top: 120px;
    background-color: #F6F6F6;
}

.pets-content {
    position: absolute;
    width: 1200px;
    height: 1162px;
    left: 40px;
    top: 80px;

}

.pets-heading {
    position: absolute;
    width: 400px;
    height: 90px;
    left: 401px;
    top: 1px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 0px;
}

.cards-container {
    position: absolute;
    width: 1240px;
    height: 928px;
    left: -20px;
    top: 135px;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    text-align: center;
}

.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.card:hover {
    cursor: pointer;
}

.card-photo {
    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    margin: 0px;
}

.card-title {
    width: 74px;
    height: 23px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 26px;
}

.card-image {
    width: 270px;
    height: 270px;
}

.button {
    width: 187px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #FFFFFF;
    margin: 4px;
}

.button:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.button-text {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: auto;
}

.navigator {
    position: absolute;
    width: 340px;
    height: 52px;
    left: 470px;
    top: 1310px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

.button-paginator {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.button-paginator-text {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}

#paginator-active {
    background: #F1CDB3;
}

#paginator-active:hover {
    cursor: pointer;
    background: #FDDCC4;
}

#paginator-inactive {
    border: 2px solid #CDCDCD;
}

#paginator-inactive2 {
    border: 2px solid #CDCDCD;
}

#button-paginator-text-inactive {
    color: #CDCDCD;
}

#button-paginator-text-inactive2 {
    color: #CDCDCD;
}

#paginator-arrow:hover {
    cursor: pointer;
    background: #FDDCC4;
}

#paginator-double-arrow:hover {
    cursor: pointer;
    background: #FDDCC4;
}

.footer {
    position: absolute;
    width: 1280px;
    height: 352px;
    left: 0px;
    top: 1462px;
    background: url(../../assets/fonts/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-content {
    position: absolute;
    width: 1200px;
    height: 310px;
    left: 40px;
    top: 35px;
}

.contacts {
    position: absolute;
    width: 278px;
    height: 234px;
    left: 0px;
    top: 22px;
}

.footer-contacts-title {
    position: absolute;
    width: 279px;
    height: 90px;
    left: 0px;
    top: 0px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 0px;
}

.mail-content {
    position: absolute;
    width: 251px;
    height: 32px;
    left: 0px;
    top: 129px;
}

.footer-mail-icon {
    position: absolute;
    width: 40px;
    height: 32px;
    left: 0px;
    top: 0px;
}

.footer-mail-text {
    position: absolute;
    width: 191px;
    height: 23px;
    left: 60px;
    top: 5px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-top: 0px;
}

a:-webkit-any-link {
    color: #F1CDB3;
    text-decoration: none;
}

.phone-content {
    position: absolute;
    width: 239px;
    height: 32px;
    left: 0px;
    top: 201px;
}

.footer-phone-icon {
    position: absolute;
    width: 40px;
    height: 32px;
    left: 0px;
    top: 0px;
}

.footer-phone-text {
    position: absolute;
    width: 180px;
    height: 23px;
    left: 60px;
    top: 5px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-top: 0px;
}

.location {
    position: absolute;
    width: 302px;
    height: 234px;
    left: 438px;
    top: 28px;
}

.footer-location-title {
    position: absolute;
    width: 270px;
    height: 90px;
    left: 1px;
    top: -6px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 0px;
}

.boston-content {
    position: absolute;
    width: 302px;
    height: 46px;
    left: 0px;
    top: 123px;
}

.pin-icon {
    width: 22px;
    height: 32px;
}

.boston-address {
    position: absolute;
    width: 260px;
    height: 46px;
    left: 42px;
    top: -7px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-top: 0px;
}

.london-content {
    position: absolute;
    width: 302px;
    height: 32px;
    left: 0px;
    top: 195px;
}

.london-address {
    position: absolute;
    width: 260px;
    height: 23px;
    left: 42px;
    top: 5px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-top: 0px;
}

.footer-puppy {
    position: absolute;
    width: 300px;
    height: 315px;
    left: 462px;
    top: -26px;
}
